alimentos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="alimento">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nombre" type="xs:string"/>
        <xs:element name="tipo" type="xs:string"/>
        <xs:element name="precio" type="xs:decimal"/>
        <xs:element name="calorias" type="xs:integer"/>
        <xs:element name="disponibilidad" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
